@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');



:root {  
    --color01: hsl(185, 75%, 39%);
    --color02: hsl(229, 23%, 23%);
    --color03: hsl(227, 10%, 46%);
    --grey: hsl(0, 0%, 89%);
  }

  * {
    box-sizing: border-box;
    font-family: "Kumbh Sans", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--color02);
    font-size: 18px;
    background: var(--color01);
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-position: bottom 50vh right 50vw, top 50vh left 50vw;
    background-repeat: no-repeat;
    background-size: 100vh;
  }

   
  .container {
    text-align: center;
    border-radius: 1rem;
    position: relative;
    margin: 2em auto;
    width: 22rem;
    overflow: hidden;
    background: white url(../images/bg-pattern-card.svg) no-repeat;
    background-size: 100%;
    -webkit-box-shadow: 0px 10px 80px -20px var(--color02);
    -moz-box-shadow: 0px 10px 80px -20px var(--color02);
    box-shadow: 0px 10px 80px -20px var(--color02);
    
  }
  
  .profile-img {
    width: 7rem;
    clip-path: circle(60px at center);
    margin-top: 5.2rem;
    border: 6px solid white;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  
  .name {
    font-weight: bold;
    font-size: 1.2rem;
  }

  .name span{
    font-weight: normal;
    margin-left: 0.5rem;
  }
  
  .description {
    margin: .8rem 2rem 1.4rem 2rem;
    font-size: 0.9rem;
  }

  .social-data{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    border-top: 1px solid var(--grey);
    padding: 1.6rem;
    font-size: 1.1rem;
    font-weight: bold;
  }

  .social-data li{
    flex: 1;
  }

  .social-data span{
    display: block;
    font-size: 0.6rem;
    font-weight: normal;
    letter-spacing: 2px;
    margin-top: 0.5rem;
  }

  p,
  span{
    color: var(--color03)
  }
  
 
  
  